<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404-error</title>
</head>
<body bg-light>
    <div class="container-body">
    <div class="container empty">
        &nbsp;
    </div>
    <div class="container" align="center" mt-5>
        <img src="../assets/frowning_cloud-transformed.jpeg"><br><br>
        <h1>404</h1>
        <h2>Page Not Found</h2><br>
        <p>The page you're looking for does'nt exist or an other error occurred</p><br>
        <button routerLink="/home" class="btn btn-lg btn-success"> Back to Home</button>
    </div>
</div>
</body>
</html>
