<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark  fixed-top ">
    <div class="container-fluid">

      <a class="navbar-brand" href="#">
        <img class="rounded" src="../assets/KaarMegam.png">&nbsp;&nbsp;
        <span class="kaar">Kaar</span><span class="megam">Megam</span>
      </a>

      <div align="right">
        <button routerLink="/login" class="btn btn-warning">
          &nbsp;Login&nbsp;
        </button> &nbsp; &nbsp;
        <button routerLink="/signup" class="btn btn-warning">
          &nbsp;Sign up&nbsp;
        </button>
      </div>
    </div>
  </nav>
  <div class="container empty"></div>
  <div class="content">
    <h1><span class="kaar">Kaar</span><span class="megam">Megam</span></h1>
  </div>
  <div class="container-empty">

  </div>
  <div class="container content" align="center">
    <p align="center" class="text-white">"Experience weather like never before with <span class="kaarc">Kaar</span><span class="megamc">Megam</span>! Our innovative weather app provides you with real-time
      updates on the latest weather conditions, accurate forecasts, and personalized insights to help you plan your day
      ahead. With KaarMegam, you can stay on top of the weather no matter where you are, whether it's sunny, rainy, or
      snowing. With a user-friendly interface and customizable features, KaarMegam is the ultimate weather app for the
      modern-day user."</p>
  </div>
</body>

</html>